/* Write your CSS here */
.button {
  border: 1px solid #c4c4c4;
  background-color: #382f5a;
  color: #c4c4c4;
  font-family: 'Roboto';
  width: 130px;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 4px;
  color: #c4c4c4;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
